body {
  background-image: url("light_alu.png"); */
	font-family: 'Open Sans', sans-serifb !important;
  margin: 0;
  padding: 0;
  color: #333;
}
.error {
  color: #D8000C;
}

/*h1, h2{
    font-weight: bold;
    text-align: center;
    margin: 0 0 0px 0;
    color: #3C860C;
}
h3, h4 {
	color: #3C860C;
	font-weight: bold;
}*/
/*.container{
}
.view{
	margin-top: 5%;
}



.list-group{
	margin-top: 18px;
}
a.list-group-item{
  font-size: 20px;
	color: #000;
	text-decoration: none;
	position: relative;
  color: #353f49;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #B6EB93;
  border: 1px solid #353f49;
}

a.list-group-item:hover {
  background-color:#3C860C;
  border-color: #353f49;
  color: #fff;
}*/

/*
.apartment {
  margin-bottom: 30px;
}*/

.main-title{
    padding: 15px 0 15px 0;
}

.guests-wrapper{
	overflow: auto;
	height: 300px;
}

.apartment-services{
	margin: 2px;
}

.vertical-align {
  display:table-cell;
    vertical-align:middle;
    float:none;
}

.checkbox input[type=checkbox]:checked + label:after {
    font-family: 'Glyphicons Halflings';
    content: "\e013";
}
.checkbox label:after {
    padding-left: 4px;
    padding-top: 2px;
    font-size: 9px;
}



@media only screen and (max-width: 768px) {
  #small-screen-table table,
  #small-screen-table thead,
  #small-screen-table tbody,
  #small-screen-table th,
  #small-screen-table td,
  #small-screen-table tr {
    display: block;
  }

  #small-screen-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #small-screen-table tr {
    border: 1px solid #ccc;
  }

  #small-screen-table td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align:left;
  }

  #small-screen-table td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
    content: attr(data-title);
  }


}
