<div class='page-header'>
    <am-header-bar title='{{apartment.name}}' link='#/apartments'></am-header-bar>
    <div class="row text-nowrap">
        <cite class='col-xs-12 h5'>{{apartment.description}}</cite>
    </div>
</div>
<div class="panel-body row">
    <span class='col-xs-12'>
        <div>
            <span class='col-xs-12 col-sm-offset-2 col-sm-4 text-center h4'>Daily price :
                <strong>{{apartment.price}}</strong>
            </span>
            <span class='col-xs-12 col-sm-4 text-center h4'> Size :
                <strong>{{apartment.size}}</strong>
            </span>
        </div>
        <div class='row text-nowrap'>
            <span class='col-xs-12 col-sm-4 text-center h5'> Rooms :
                <strong>{{apartment.rooms}}</strong>
            </span>
            <span class='col-xs-12 col-sm-4 text-center h5'> Default Occupancy :
                <strong>{{apartment.defaultOccupancy}}</strong>
            </span>
            <span class='col-xs-12 col-sm-4 text-center h5'> May Occupancy :
                <strong>{{apartment.maxOccupancy}}</strong>
            </span>
        </div>
        <div class='row'>
            <am-armenities-show class='col-xs-12 text-center' armenities='apartment.armenities'></am-armenities-show>
            <span class='col-xs-12 text-center'>
                <div class='row'>
                    <a ng-href="/bookings/{{apartment.name}}" class="btn btn-default col-xs-12 col-sm-4">Add New Booking</a>
                    <a ng-href='#/apartments/{{apartment.name}}/edit' class='btn btn-success col-xs-12 col-sm-4'>Edit</a>
                    <a ng-click="removeApartment($event, apartment.name)" class='btn btn-danger col-xs-12 col-sm-4'>Delete</a>
                </div>
            </span>
        </div>
    </span>
</div>